body{
    width: 80%;
    text-align: center;
    margin:auto;
    margin-top: 100px;
}
input{
    width: 200px;
}
.searchbar{
    width: 30%;
    margin:auto
}
#searchRes{
    /* border: 1px solid red; */
    width: 30%;
    margin:auto;
    text-align: left;
}
#searchRes li{
    /* border: 1px solid blue; */
    width: 58%;
    margin-left: 51px;
    list-style: none;
    height: 20px;
    background-color: rgb(151, 190, 241);
    margin-top: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 3px;


    
}

#newBeerBtn{
    border: 1px outset rgba(255, 255, 255, .8);
    cursor: pointer;
    /* display: none;    */
    padding-left:1em;
    padding-right: 1em;
    -webkit-box-shadow: 0px 0px 4px 0px #000000; 
    box-shadow: 0px 0px 1px 0px #000000;
    background: #E9EFED;
    background: -moz-linear-gradient(left, #E9EFED 0%, #DFEBEC 50%, #EBF0F1 100%);
    background: -webkit-linear-gradient(left, #E9EFED 0%, #DFEBEC 50%, #EBF0F1 100%);
    background: linear-gradient(to right, #E9EFED 0%, #DFEBEC 50%, #EBF0F1 100%);
    
    
} 

#newBeerBtn:hover{
    border: 1px solid blue;
    border-radius: 10%;
    cursor: pointer;
    color: blue;
    font-weight:400 ;
    background: #E1E7E5;
    background: -moz-linear-gradient(left, #E1E7E5 0%, #C9D4D5 50%, #E1E6E7 100%);
    background: -webkit-linear-gradient(left, #E1E7E5 0%, #C9D4D5 50%, #E1E6E7 100%);
    background: linear-gradient(to right, #E1E7E5 0%, #C9D4D5 50%, #E1E6E7 100%);
    padding-left:1em;
    padding-right: 1em;
    
}